header.header 
    .section_in 
        .header_main 
            section.nav 
                .nav__logo
                    a(href="#") 
                        +icon('my-Space')

                .nav__list 
                    .nav__item 
                        a(href="#") О нас
                    .nav__item 
                        a(href="#") Преимущества
                    .nav__item 
                        a(href="#") Готовые решения
                    .nav__item 
                        a(href="#") Все работы
                
                .nav__tel 
                    a(href="tel:+70000000000") +7 000 000 00 00
                
                .nav__button
                    a(href="#").nav__call Заказать звонок 
                    


                
            
