.main{
    &__head{
        font-size: 6rem;
        color: $black;
        font-family: $font_3;
        font-weight: 400;
        line-height: 77px;
        @include bp($point_1) {
            // font-size: 50px;
            line-height: 55px;
        }
 
    }
    &__image img{
        width: 100%;
    }
    &__block{
        margin-top: 50px;
        display: flex;
        align-items:center;
        margin-bottom: 50px;
        justify-content: space-between;
        // @include bp($point_1) {
        //     font-size: 14px;
        // }
        @include bp($point_3) {
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
    }
    &__text{
        font-size: 2rem;
        font-family: $font_2;
        width: 55rem;
        line-height: 23.44px;
        padding-left: 10px;
        padding-right: 30px;
        width: 35%;
        @include bp($point_2) {
            font-size: 15px;
        }
        @include bp($point_3) {
           margin-top: 20px;
           margin-bottom: 20px;
           padding-left: 0px;
        }
        
    }
    &__arrow a{
        display: flex;
        height: 100%;
        padding: 2rem 0;

    }
}
.nav__tel a{
    font-size: 2rem;
    color: $black;
}
.nav__call{
    font-size: 2rem;
    line-height: 24px;
}

.company{
    margin-top: 100px;

    &__block{
        display: flex;
        @include bp($point_4) {
            flex-wrap: wrap;
         }
    }
    &__text{
        font-size: 2.5rem;
        // @include bp($point_1) {
        //     font-size: 20px;
        // }
    }
    &__text::after{
        margin-top: 30px;
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color:black;
    }
    &__company-head{
        padding-bottom: 95px;
        font-size: 6rem;
        font-family: $font_3;
        margin-right: 10rem;
        @include bp($point_4) {
            padding-bottom: 15px;
        }
    }
    &__task{
        margin-top: 95px;
        @include bp($point_4) {
            margin-top: 15px;
        }
    }
    &__col-right{
        width: 60%;
        margin-top: 150px;
        @include bp($point_1) {
            margin-left: 50px;
            margin-top: 171px;
        }
        @include bp($point_4) {
            width: 100%;
            margin-left: 10px;
            margin-top: 15px;
        }
    }
}
.icon-arrow-cicle{
    fill: none !important;
    stroke: #000;
    margin-left: 20px;
}
.companyDescription{
    &__block{
        margin-top: 15%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include bp($point_4) {
            flex-wrap: wrap;
         }
    }
    &__text{
        // width: 48%;
        font-family: $font_2;
        line-height: 23.44px;
        @include bp($point_1) {
            width: 49%;
            font-size: 15px;
            line-height: 18.44px;
        }
        @include bp($point_4) {
           width: 100%;
        }
    }
    &__text img{
        margin-top: 40px;
    }
}

.button{
    @include btn;
}

.advantages{
    &__row{
        margin-top: 214px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include bp($point_1) {
           justify-content: space-around;
        }
    }
    &__img{
        height: 130px;
        @include bp($point_1) {
           margin-top: -20px;
        } 
    }
    &__col {
        width: 32%; 
        border: 1px solid #000;
        border-radius: 50%;
        margin-right: 10px;
        @include bp($point_1) {
            width: 32%;
            margin-top: 5%;
        }
        @include bp($point_2) {
            width: 40%;
            // margin-top: 5%;
        }
    }
    &__body{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    &__item{
        padding-top: 100%; 
        position: relative;
    }
    &__title{
        font-size: 3.5rem;
        font-family: $font_3 !important;
        // @include bp($point_1) {
        //     font-size: 28px;
        // }
    }
    &__text{
        margin-top: 20px;
        font-size: 2rem;
        font-family: $font_2;
        text-align: center;
        Line-height: 23.44px;
        width: 300;
        @include bp($point_0) {
            // font-size: 16px;
            margin-top: 20px;
            Line-height: 22px;
        }
        @include bp($point_1) {
            // font-size: 23px;
            margin-top: 20px;
            Line-height: 26px;
        }
    }
    &__textBlock{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 0px 34px;
        @include bp($point_1) {
            margin-top: -20px;
        }
        @include bp($point_4) {
            flex-wrap: wrap;
         }
    }
}

.catalog{
    margin-top: 200px;
    &__row{
        width: 100%;
        max-width: 1720px;
        padding-left: 100px;
        // padding-right: 100px;
        margin-left: auto;
        margin-right: auto;
        position: relative; 
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
        @include bp($point_4) {
            flex-wrap: wrap;
         }
    }
    &__col-right{
        width: 55%;
        @include bp($point_1) {
            width: 50%;
        }
    }
    &__description{
        margin-bottom: 20px;
        font-size: 2rem;
        font-family: $font_2;
        line-height: 23.44px;
        font-weight: 300;
    }
    &__item-right{
        margin-top: 45px;
    }
    &__item-right img{
        height: auto;
        width: 100%;
        max-width: 850px;
    }

    &__item-style{
        margin-top: 30px;
    }
    &__productStyle img{
        max-width:25%;
    }
    &__product-center img{
        margin: auto;
        position: absolute;
        top: 75%; 
        left: 0; 
        bottom: 0; 
        right: 19%;
        height: auto;
        width: 100%;
        max-width:20%;
        @include bp($point_1) {
            right: 15%;
        }
    }
    }

.titleSectionBlock{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 6rem;
    font-family: $font_3;
    @include bp($point_4) {
        flex-wrap: wrap;
     }
    &:after{
        bottom:0;
        position: absolute;
        display: block;
        content:'';
        width: 100%;
        height: 1px;
        background-color:#000;
    }
    &__num{
        background-color:$black;
        color:#fff;
        padding: 10px 100px;
    }
    &__title{
        padding-right: 100px;
    }
}

/* Слайды */
.slick-slide {
    margin: 0 26px;
  }
  
  /* Родительский элемент */
  .slick-list {
    margin: 0 -26px;
  }
  .slick-arrow{
    margin-right: 12px;
    margin-top: 6.6rem;
    display: flex;
    justify-content: end;
    &__prev{
        margin-right: 60px;
    }
  }

  .tabs {
        margin-top: 4rem;
        display: flex;
        //   justify-content: space-between;
        flex-wrap: wrap;

        &__item{
            margin-top: 4rem;
            font-size: 3rem;
            font-family: $font_3;
            margin-right: 10rem;
        }
        &__card{ 
            width: 30%;
            margin-top: 9rem;
        }
        &__card-title{
            font-family: $font_3;
            font-size: 3rem;
        }
        &__card-text{
            margin-top: 2rem;
            font-size: 2rem;
            font-family: $font_2;
        }
        &__card-img {
            margin-top: 40px;
        }
        &__card-block{
            padding: 25px 25px;
        }
        &__row{
            display: flex;
        }
    }
  