.main{
    &__head{
        width: 50%;
        font-size: 60px;
        color: $black;
        font-family: $font_3;
        font-weight: 400;
        line-height: 77px;
    }
    &__image img{
        width: 100%;
    }
    &__block{
        display: flex;
        align-items:center;
        margin-bottom: 50px;
        @include bp($point_1) {
            font-size: 14px;
        }
    }
    &__text{
        font-size: 20px;
        font-family: $font_2;
        width: 50%;
        line-height: 23.44px;
        
    }
}
.nav__tel a{
    font-size: 20px;
    color: $black;
}
.nav__call{
    font-size: 20px;
    line-height: 24px;
}

.company{
    margin-top: 100px;

    &__block{
        display: flex;
    }
    &__text::after{
        margin-top: 30px;
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color:black;
    }
    &__company-head{
        width: 30%;
        padding-bottom: 95px;
        font-size: 60px;
    }
    &__task{
        margin-top: 95px;
    }
    &__col-right{
        width: 70%;
        margin-left: 180px;
        margin-top: 177px;
    }
}

.companyDescription{
    &__block{
        margin-top: 132px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__text{
        width: 48%;
        font-family: $font_2;
        line-height: 23.44px;
    }
    &__text img{
        margin-top: 40px;
    }
}

.button a{
    font-size: 35px;
    line-height: 45px;
    font-family: $font_3;
    font-weight: 400;
    color: $black;
}

.advantages{
    &__row{
        margin-top: 214px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__col {
        width: 32%; 
        border: 1px solid #000;
        border-radius: 50%;
        margin-right: 10px;
  
        // @include bp($point_1) {
        //     width: 100%;
        //     max-width: 420px;
        //     height: 40px;
        //     margin: auto;
        // }
    }
    &__body{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    &__item{
        padding-top: 100%; 
        position: relative;
    }
    &__title{
        font-size: 35px;
        @include bp($point_1) {
            font-size: 28px;
        }
    }
    &__text{
        margin-top: 40px;
        font-size: 20px;
        font-family: $font_2;
        text-align: center;
        @include bp($point_1) {
            font-size: 16px;
            margin-top: 20px;
        }
    }
    &__textBlock{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 0px 64px;
        @include bp($point_1) {
            padding: 0px 35px;
        }
    }
}