extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	//- section.home 
	//- 	.section_in
	//- 		a(href="#") 
	//- 			+icon('my-Space')

	section.main.wrapp 
		.main__block
			.main__head Готовые решения
			.main__text Уникальный дизайн изделий по доступной цене. <br>Готовые решения для кафе ,баров , кухонь. <br>Проектируем, производим и продаем современную мебель.
			.main__arrow
				a(href="#") 
					+icon('arrow-long') 
		.main__image
			img(src="i/main-img.jpg", alt="")

		.company
			.company__block
				.company__company-head О компании My Space
				.company__text Мы проектируем, производим и продаем мебель . <br> Являемся молодым и амбициозным коллективом, работающим на результат.
			.company__task.companyDescription
				img(src="i/about-img1.jpg", alt="")
				.companyDescription__block
					.companyDescription__text 
						p Наша основная задача - выпускать качественный, экологичный продукт с интересными дизайнерскими решениями, которые удовлетворят самого взыскательного потребителя.
						div 
							img(src="i/about-img2.jpg", alt="")
					
					.companyDescription__text 
						p Имеем свою линейку продукции в стиле лофт. Также мы работаем по индивидуальным эскизам и готовы помочь воплотить любую задумку.
						div 
							img(src="i/about-img3.jpg", alt="")

					
				



				
				

